<nav class="w-full bg-stone-900 p-5 mb-5">
  <ul class="flex flex-row space-x-2 text-xl font-bold">
    <li>
      <a
        class="transition ease-in-outhover hover:text-pink-500 duration-800"
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        class="transition ease-in-outhover hover:text-pink-500 duration-800"
        routerLink="/YuGiOh/cards"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Yu-Gi-Oh</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
